
@import "assets/veriables";
@import "assets/mixin";
@import "assets/color";
@import "assets/header";
@import "assets/footer";

/*main-banner*/

.main-banner {
    display: flex;
    flex-wrap: wrap;
}

.main-banner__slider {
    width: 100%;
    height: 500px;
}

.main-banner__category-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.slider-main-banner__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-main-banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-main-banner__item-content {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1344px;
}

.slider-main-banner__item-content-inner {
    max-width: 428px;
}

.slider-main-banner__item-content-tag {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color:#fff;
    text-transform: uppercase;
}

.slider-main-banner__item-content-title {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #fff;
}

.slider-main-banner__item-content-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#fff;
}

.slider-main-banner__item-content-link {
    @include flex-center;
    width: 260px;
    height: 50px;
    background-color: $main-color;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color:#fff;
    &:hover {
        background-color: $main-color-hover;
    }
}

.main-banner__category-item {
    position: relative;
    display: flex;
    height: 260px;
    overflow: hidden;
    &:nth-child(1),
    &:nth-child(2) {
        width: 25%;
    }

    &:nth-child(3) {
        width: 50%;
    }

    &:hover {
       &::after {
           content: "";
           position: absolute;
           top: 0;
           left:0;
           width: 100%;
           height: 100%;
           background-color: rgba(0,0,0,0.6);
       }
    }
}

.main-banner__category-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-banner__category-item-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color:#fff;
    font-family: "Open Sans Bold";
    &.main-banner__category-item-name--dark {
        color:#000;
    }
}

.main-banner__category-item-inner {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
}

.main-banner__category-item-title {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color:#fff;
    text-transform: uppercase;
    opacity: 0.8;
}

@media(max-width:1343px) {
    .slider-main-banner__item-content-inner {
        margin-left: 100px;
    }

    .main-banner__slider {
        max-width: 100%;
        margin-right: 0;
    }

    .main-banner__category-block {
        width: 100%;
    }

    .main-banner__category-item {
        height: 260px;
        &:nth-child(1),
        &:nth-child(2) {
            width: 50%;
        }

        &:nth-child(3) {
            width: 100%;
        }
    }
}

@media(max-width:1023px) {
    .slider-main-banner__item-content-title {
        font-size: 24px;
        line-height: 29px;
    }

    .slider-main-banner__item-content-text {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        font-size: 14px;
        line-height: 21px;
    }

    .slider-main-banner__item-content-inner {
        margin-left: 20px;
    }

    .slider-main-banner__item-content-inner {
        max-width: 281px;
    }

    .slider-main-banner__item-content-link {
        width: 168px;
        height: 40px;
        font-size: 13px;
        line-height: 18px;
    }
}

@media(max-width:767px) {
    .main-banner__category-item-inner {
        left:15px
    }

    .main-banner__slider {
        height: 100%;
    }

    .slider-main-banner__img {
        height: 320px;
    }

    .slider-main-banner__item-content-title {
        margin-bottom: 10px;
        font-size: 17px;
        line-height: 25px;
    }

    .slider-main-banner__item-content {
        position: static;
        max-width: 100%;
        max-height: 366px;
        margin-left: 0;
    }
    
    .slider-main-banner__item-content-tag,
    .slider-main-banner__item-content-title,
    .slider-main-banner__item-content-text {
        color: #000;
    }
    .slider-main-banner__item-content-inner {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        padding: 20px 15px 40px;
    }

    .slider-main-banner__item-content-link {
        width: 100%;
    }

    .main-banner__category-item {
        margin-right: 0;
        &:nth-child(1),
        &:nth-child(2) {
            width: 100%;
        }
    }

    .main-banner__category-block {
        min-width: 0;
    }

    .main-banner__category-item-name {
        left: 10px;
        font-size: 14px;
        line-height: 21px;
    }
}

/*advantages*/
.advantages__title {
    display: none;
}

.advantages {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.advantages__item {
    display: flex;
    align-items: center;
}

.advantages__item-text {
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
}

.advantages__item-img-wrap {
    @include flex-center;
    width: 59px;
    height: 59px;
    margin-right: 13px;
}

.advantages__item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media(max-width:1023px) {
    .advantages__item {
        width: 50%;
        margin-bottom: 20px;
        &:nth-last-child(-n+2){
            margin-bottom: 0;
        }
    }

    .advantages {
        flex-wrap: wrap;
        padding-top: 20px;
    }
}

@media(max-width:767px) {
    .advantages__item {
        width: 100%;
        &:nth-last-child(-n+2){
            margin-bottom: 20px;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

/*poplar-categories*/

.popular-category {
    padding-top: 60px;
}

.popular-category__headline-block {
    display: flex;
    align-items: baseline;
    padding-bottom: 32px;
}

.popular-category__title {
    margin: 0 18px 0 0;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.popular-category__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
    &:hover {
        color:$main-color;
    }
}

.popular-category__content-wrap {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #EDEDED;
	border-left: 1px solid #EDEDED;
}

.popular-category__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 40px 20px 30px 20px;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    &:focus {
        box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
        .popular-category__item-name {
            color: $main-color;
        }
    }
    &:hover {
        box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
        .popular-category__item-name {
            color: $main-color;
        }
    }
}

.popular-category__items {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 40px 20px 30px 20px;
    border-right: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
    &:hover {
        box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
        .popular-category__item-name {
            color: $main-color;
        }
    }
}

.popular-category__item-img-wrap {
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
}

.popular-category__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popular-category__item-name {
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color:#000;
    text-align: center;
}

@media(max-width:1343px) {
    .popular-category__item-img-wrap  {
        height: 146px;
    }
}

@media(max-width:1023px) {
    .popular-category__item {
        width: 33.33%;
    }

    .popular-category__item-img-wrap  {
        height: 136px;
    }

    .popular-category__headline-block {
        padding-bottom: 20px;
    }
}

@media(max-width:767px) {
    .popular-category__item {
        width: 50%;
        padding: 20px 10px;
    }

    .popular-category__item-img-wrap  {
        height: 84px;
        margin-bottom: 20px;
    }

    .popular-category__item-name {
        font-size: 12px;
        line-height: 18px;
    }

    .popular-category__headline-block {
       flex-direction: column;
    }

    .popular-category__title {
        margin: 0 0 9px 0;
        font-size: 20px;
        line-height: 26px;
    }
}

/*products-block*/
#template-card,
#template-block-offers,
#template-offer {
    display: none;
}
.products-block {
    padding-top: 60px;
}

.products-block__title {
    display: none;
}

.products-block__tabs-list {
    display: flex;
    margin: 0;
    padding: 0 0 20px 0;
}

.products-block__tab-item {
    width: 111px;
    border-bottom: 1px solid #EDEDED;
    list-style-type: none;
    &:hover,
    &.active {
        border-bottom: 1px solid $main-color;
        & .products-block__tab-item-btn {
            color:$main-color;
        }
    }
}

.products-block__tab-item-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0 15px 0;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.products-block__tabs-content {
    display: flex;
    flex-wrap: wrap;
}

.products-block__card {
    width: 25%;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border: 1px solid #EDEDED;
    &:hover {
        box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
    }
}

.product-card__img-wrap {
    @include flex-center;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
}

.product-card__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.popular-category__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card__title-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 40px;
    margin-bottom: 10px;
}

.product-card__title {
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color:#000;
    text-align: center;
    &:hover {
        color:$main-color
    }
}

.rating-star {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.rating-star-input {
    display: none;
    &:checked {
        & ~ .rating-star-label .rating-star-icon {
            fill: #FFB800;
        }
    }
}

.rating-star-label {
    display: flex;
    width: 14px;
    height: 13px;
    padding-right: 2px;
    cursor: pointer;
    &:hover {
        & .rating-star-icon,
        & ~ .rating-star-label .rating-star-icon {
            fill: #FFB800;
        }
    }
}

.rating-star-icon {
    width: 14px;
    height: 13px;
    fill: #DADADA;
}

.product-card__status-block {
    display: flex;
    margin-bottom: 20px;
}

.product-card__quantity-icon {
    width: 14px;
    height: 10px;
    margin-right: 6px;
    fill: none;
    stroke: #00B02A;
}

.product-card__quantity {
    margin-right: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}

.product-card__articul {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #808080;
}

.product-card__price {
    margin-bottom: 18px;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.product-card__offers-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product-card__offers-title {
    margin-bottom: 10px;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

.product-card__offers-item-input {
    display: none;
    &:checked {
        & + .product-card__offers-item-label {
            border: 2px solid $main-color;
        }
    }
}

.product-card__offers-wrap {
    display: flex;
}

.product-card__offers-item-label {
    @include flex-center;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border: 1px solid #EDEDED;
    cursor: pointer;
    &:hover {
        border: 2px solid $main-color;
    }
}

.product-card__offers-item-label-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.product-card__add-to-basket {
    @include flex-center;
    width: 115px;
    height: 40px;
    margin: auto;
    padding: 0;
    border: none;
    background: $main-color;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    &:hover {
        background: $main-color-hover;
    }
}

@media(max-width:1343px) {
    .products-block__card {
        width: 33.33%;
    }
}

@media(max-width:1023px) {
    .products-block__card {
        width: 50%;
    }
}

@media(max-width:767px) {
    .products-block__card {
        width: 100%;
    }

    .product-card__img-wrap {
        height: 120px;
    }
}

/*blog*/

.blog {
    padding-top: 60px;
}

.blog__headline-block {
    display: flex;
    align-items: baseline;
    padding-bottom: 32px;
}

.blog__title {
    margin: 0 30px 0 0;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.blog__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #807F7F;
    &:hover {
        color: $main-color;
    }
}

.blog-main-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.blog-main-item__img-wrap {
    min-width: calc(50% - 15px);
    width: calc(50% - 15px);
    height: 430px;
}

.blog-main-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-main-item__text-wrap {
    width: 100%;
    margin-left: -84px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #EDEDED;
    z-index: 1;
}

.blog-main-item__title {
    margin: 0;
    padding-bottom: 20px;
    padding-right: 150px;
    border-bottom: 1px solid #EDEDED;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.blog-main-item__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 0 0 28px 0;
    padding: 20px 0 0 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
}

.blog-main-item__link {
    @include flex-center;
    width: 225px;
    height: 40px;
    background-color: $main-color;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    &:hover {
        background-color: $main-color-hover;
    }
}

.blog__content-wrap {
    display: flex;
    flex-wrap: wrap;
}

.blog__item {
    width: calc(50% - 15px);
    &:nth-child(even) {
        margin-right: 30px;
    }
}

.blog-item {
    display: flex;
    padding: 20px 30px 20px 20px;
    border: 1px solid #EDEDED;
}

.blog-item__img-wrap {
    min-width: 200px;
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.blog-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item__title {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EDEDED;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #000;
    &:hover {
        color: $main-color;
        border-bottom: 1px solid $main-color;
    }
}

.blog-item__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    margin: 0 0 auto 0;
    padding: 10px 0 0 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
}

.blog-item__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.blog-item__link {
    align-self: flex-end;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $main-color;
    &:hover {
        color: $main-color-hover;
        & .blog-item__link-icon {
            stroke: $main-color-hover;
        }
    }
}

.blog-item__link-icon {
    width: 6px;
    height: 10px;
    margin-left: 10px;
    fill: none;
    stroke: $main-color;
}

@media(max-width:1343px) {
    .blog__headline-block {
        padding-bottom: 36px;
    }

    .blog-item__img-wrap {
        min-width: 160px;
        width: 160px;
        height: 160px;
    }

    .blog-main-item__text-wrap {
        margin-left: -58px;
        padding: 20px 30px;
    }

    .blog-main-item__title {
        padding-right: 30px;
    }

    .blog-item {
        min-height: 234px;
    }

    .blog-main-item__img-wrap {
        height: 325px;
    }
}

@media(max-width:1023px) {
    .blog {
        padding-top: 40px;
    }
    .blog__title {
        margin: 0 20px 0 0;
        font-size: 24px;
        line-height: 29px;
    }

    .blog__link {
        font-size: 13px;
        line-height: 20px;
    }

    .blog__headline-block {
        padding-bottom: 23px;
    }

    .blog-main-item__img-wrap {
        min-width: calc(50% - 9px);
        width: calc(50% - 9px);
        height: 232px;
    }

    .blog-main-item__text-wrap {
        padding: 20px;
    }

    .blog-main-item__title {
        font-size: 24px;
        line-height: 29px;
        padding-right: 0;
        padding-bottom: 14px;
    }

    .blog-main-item__text {
        -webkit-line-clamp: 2;
        margin-bottom: 20px;
        padding-top: 15px;
        font-size: 14px;
        line-height: 21px;
    }

    .blog-item {
        width: 100%;
        margin-bottom: 20px;
        &:nth-child(even) {
            margin-right: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    .blog-main-item {
        margin-bottom: 20px;
    }
}

@media(max-width:767px) {
    .blog__title {
        margin: 0 10px 0 0;
        font-size: 20px;
        line-height: 26px;
    }

    .blog__link {
        font-size: 12px;
        line-height: 18px;
    }

    .blog__headline-block {
        padding-bottom: 10px;
    }

    .blog-main-item {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .blog-main-item__img-wrap {
        width: 100%;
        height: 190px;
    }

    .blog-main-item__text-wrap {
        padding: 15px;
        margin-left: 0;
    }

    .blog-main-item__title {
        padding-bottom: 10px;
        font-size: 17px;
        line-height: 25px;
    }

    .blog-main-item__text {
        padding-top: 10px;
    }

    .blog-main-item__link {
        width: 100%;
    }

    .blog-item {
        min-height: 0;
        padding: 10px 15px 10px 10px;
    }

    .blog-item__img-wrap {
        min-width: 90px;
        width: 90px;
        height: 90px;
        margin-right: 10px;
    }

    .blog-item__title {
        margin-top: 5px;
        padding-bottom: 6px;
        border-bottom: none;
        font-size: 14px;
        line-height: 21px;
        &:hover {
            border-bottom: none;
        }
    }

    .blog-item__text {
        display: none;
    }

    .blog-item__link {
        align-self: flex-start;
        font-size: 11px;
        line-height: 17px;
    }
}

/*actions*/

.actions {
    padding-top: 60px;
    padding-bottom: 40px;
}

.actions__headline-block {
    display: flex;
    align-items: baseline;
    padding-bottom: 32px;
}

.actions__title {
    margin: 0 30px 0 0;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.actions__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #807F7F;
    &:hover {
        color: $main-color;
    }
}

.actions__content-wrap {
    display: flex;
    overflow: hidden;
}

.actions__item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 20px);
    height: 443px;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
}

.actions__item-img-wrap {
    flex-basis: 280px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.actions__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actions__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 15px 20px;
    border: 1px solid #EDEDED;
    &:hover {
        .actions__item-description {
            height: 60px;
        }
    }
}

.actions__item-date {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #807F7F;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.actions__item-title {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    font-family: "Open Sans Bold";
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #000;
    text-align: center;
    overflow: hidden;
    &:hover {
        color: $main-color;
    }
}

.actions__item-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
    height: 0;
    margin: 0 0 21px 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    transition: height 0.3s;
}

.actions__item-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $main-color;
    &:hover {
        color: $main-color-hover;
        & .actions__item-link-icon {
            stroke: $main-color-hover;
        }
    }
}

.actions__item-link-icon {
    width: 6px;
    height: 10px;
    margin-left: 10px;
    fill: none;
    stroke: $main-color;
}

@media(max-width:1343px) {
    .actions__item-img-wrap {
        flex-basis: 210px;
    }

    .actions__item {
        height: 371px;
    }
}

@media(max-width:1023px) {
    .actions {
        padding-top: 40px;
    }

    .actions__item-title {
        font-size: 15px;
        line-height: 25px;
    }

    .actions__headline-block {
        padding-bottom: 23px;
    }

    .actions__title {
        font-size: 24px;
        line-height: 29px;
    }

    .actions__item {
        width: 290px;
        margin-right: 20px;
    }

    .actions__item-img-wrap {
        flex-basis: 190px;
        margin-bottom: 0;
    }

    .actions__item {
        height: 323px;
    }

    .actions__item-date {
        font-size: 12px;
        line-height: 18px;
    }
}

@media(max-width:767px) {
    .actions {
        padding-top: 20px;
    }

    .actions__headline-block {
        padding-bottom: 10px;
    }

    .actions__title {
        margin-right: 10px;
        font-size: 20px;
        line-height: 26px;
    }

    .actions__link {
        font-size: 13px;
        line-height: 20px;
    }

    .actions__item {
        width: 220px;
        margin-right: 10px;
    }

    .actions__item-img-wrap {
        flex-basis: 144px;
    }

    .actions__item {
        height: 261px;
    }

    .actions__item-date {
        font-size: 11px;
        line-height: 17px;
    }

    .actions__item-title {
        height: 42px;
        font-size: 14px;
        line-height: 21px;
    }
}

/*news*/

.news {
    padding: 60px 40px 0;
}

.news__headline-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.news__title {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}

.news__link {
    margin-right: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: $main-color;
    &:hover {
        color: $main-color-hover;
    }
    &:last-child {
        margin-right: 0;
    }
}

.news__content-wrap {
    display: flex;
}

.news__item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 30px);
    margin-right: 40px;
    &:hover {
        & .news__item-img-wrap {
            &::after {
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,0.4);
            }
        }
        & .news__item-description {
            color: $main-color-hover;
        }
    }
    &:last-child {
        margin-right: 0;
    }
}

.news__item-img-wrap {
    position: relative;
    width: 100%;
    height: 286px;
    margin-bottom: 20px;
}

.news__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__item-description {
    margin: 0 0 6px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.news__item-date-block {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
}

.news__item-line {
    width: 1px;
    background-color: #EDEDED;
}

.news__item-date {
    padding-right: 10px;
}

.news__item-tag {
    padding-left: 10px;
}

@media(max-width:1343px) {
    .news {
        padding: 60px 0 0 0;
    }

    .news__item-img-wrap {
        height: 150px;
    }
}

@media(max-width:1023px) {
    .news {
        padding: 40px 20px 0;
    }

    .news__content-wrap {   
        flex-wrap: wrap;
    }
    .news__item {
        width: calc(50% - 10px);
        margin-right: 20px;
        margin-bottom: 40px;
        &:nth-child(even) {
            margin-right: 0;
        }
    }

    .news__item-img-wrap {
        height: 234px;
    }

    .news__title {
        font-size: 24px;
        line-height: 29px;
    }
}

@media(max-width:767px) {
    .news__title {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 26px;
    }

    .news__headline-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .news__link {
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .news__links-block {
        display: flex;
        flex-wrap: wrap;
    }

    .news__headline-block {
        padding-bottom: 15px;
    }

    .news__item { 
        width: 100%;
        margin-right: 0;
    }
}

/*main-webform*/

.main-webform-wrap {
    background-color: #F7F7F7;
}

.main-webform {
    max-width: 1344px;
    margin: 0 auto;
    padding: 40px 0 50px 0;
}

.main-webform__title {
    margin: 0 0 10px 0;
    font-family: "Open Sans Bold";
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
}

.main-webform__sub-title {
    margin: 0 0 40px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.main-webform__inputs-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.main-webform__input {
    width: calc(25% - 22.5px);
    height: 52px;
    margin-right: 30px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #CBCBCB;
    border-radius: 4px 4px 0px 0px;
    outline: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    &::placeholder {
        color: #808080;
    }
    &:focus {
        border-bottom: 1px solid $main-color;
    }
}

.main-webform__submit {
    @include flex-center;
    width: calc(25% - 22.5px);
    height: 52px;
    padding: 0;
    background-color: $main-color;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: $main-color-hover;
    }
}

.main-webform__checkbox-input {
    display: none;
    &:checked {
        & + .main-webform__checkbox-custom {
            background-color: $main-color;
            border: none;
            border-radius: 0;
            &::after {
                display: block;
            }
        }
    }
}

.main-webform__checkbox-custom {
    position: relative;
    display: block;
    min-width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #E6E6E6;
    border-radius: 2px;
    &::after {
        display: none;
        content: '';
        position: absolute;
        top: 2px;
        left: 3px;
        width: 13px;
        height: 7px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
    }
}

.main-webform__label {
    display: flex;
    cursor: pointer;
}

.main-webform__agree-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.main-webform__confid-link {
    color: $main-color;
    &:hover {
        color: $main-color-hover;
    }
}

@media(max-width:1023px) {
    .main-webform {
        padding: 40px 20px 50px 20px;
    }

    .main-webform__title {
        font-size: 24px;
        line-height: 36px;
    }

    .main-webform__sub-title {
        margin: 0 0 30px 0;
    }

    .main-webform__input {
        width: calc(50% - 10px);
        margin-right: 20px;
        &:nth-child(2) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    .main-webform__submit {
        width: calc(50% - 10px);
    }
}

@media(max-width:767px) {
    .main-webform {
        padding: 40px 15px 50px 15px;
    }

    .main-webform__title {
        font-size: 20px;
        line-height: 30px;
    }

    .main-webform__sub-title {
        font-size: 14px;
        line-height: 21px;
        margin: 0 0 30px 0;
    }

    .main-webform__input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .main-webform__submit {
        width: 100%;
    }
}