@font-face {
    font-family: "Open Sans";
    src: url("./../fonts/opensans.woff2") format("woff2"),
         url("./../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("./../fonts/opensansbold.woff2") format("woff2"),
         url("./../fonts/opensansbold.woff") format("woff");
}

* {
    box-sizing: border-box;
}

picture {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Open Sans";
}

.block-1344,
.main-content {
    max-width: 1344px;
    margin: 0 auto;
}

.block-1920 {
    max-width: 1920px;
    margin: 0 auto;
}

@media(max-width:1344px){
    .block-1344,
    .main-content {
        padding: 0 20px 40px 20px;
    }    
}

@media(max-width:767px){
    .block-1344,
    .main-content {
        padding: 0 15px 40px 15px;
    }    
}

/*header_top*/

.header {
    width: 100%;
}

.header-top {
    display: flex;
    align-items: center;
    max-width: 1344px;
    min-height: 100px;
    height: 99px;
    margin: 0 auto;
}

.header-top__logo-wrap {
    display: flex;
    align-items: center;
    width: 161px;
    height: 44px;
    margin-right: 68px;
}

.header-top__logo {
    width: 100%;
    height: 100%;
}

.header-top__city-block {
    display: flex;
    min-width: 152px;
    margin-right: 30px;
}

.header-top__city-icon {
    width: 18px;
    height: 22px;
    margin-top: 5px;
    margin-right: 12px;
    fill: none;
    stroke: #BDBDBD;
}

.header-top__city-content-wrap {
    display: flex;
    flex-direction: column;
}

.header-top__city-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.header-top__city-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: $main-color;
    &:hover {
        color: $main-color-hover;
    }
}

.header-top__search-wrap {
    position: relative;
    flex-basis: 361px;
    width: 100%;
    margin-right: 30px;
}

.header-top__search {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.header-top__search-button {
    position: absolute;
    top: calc(50% - 9px);
    right: 12px;
    width: 18px;
    height: 18px;
    padding: 0;
    border: none;
    background:none;
    outline: none;
    cursor: pointer;
}

.header-top__search-icon {
    width: 18px;
    height: 18px;
    fill: none;
    stroke: #BDBDBD;
}

.header-top__phone-block {
    display: flex;
    min-width: 198px;
    width: 198px;
    margin-right: 30px;
}

.header-top__phone-icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 12px;
    fill: none;
    stroke: #BDBDBD;
}

.header-top__phone-number {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #000;
}

.header-top__phone-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $main-color;
    &:hover {
        color: $main-color-hover;
    }
}

.header-top__phone-arrow {
    width: 12px;
    height: 7px;
    fill: none;
    stroke: #000;
}

.header-top__phone-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__phone-content-wrap {
    width: 100%;
}

.header-top__account-block {
    position: relative;
    display: flex;
    width: 134px;
    margin-right: 46px;
}

.header-top__account-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    fill: none;
    stroke: #BDBDBD;
}

.header-top__account-content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32px;
}

.header-top__account-log-in {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    &:hover {
        color: $main-color;
        & .header-top__account-icon {
            stroke: $main-color;
        }
        
    }
}

.header-top__account-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #BDBDBD;
}

.header-top__basket-block {
    display: flex;
    margin-top: 12px;
}

.header-top__basket-item {
    position: relative;
    &:hover {
        .header-top__basket-icon {
            stroke: $main-color;
        }
    }
}

.header-top__basket-item--compare {
    width: 26px;
    height: 20px;
    margin-right: 22px;
}

.header-top__basket-item--favorite {
    width: 24px;
    height: 22px;
    margin-right: 22px;
}

.header-top__basket-item--buy {
    width: 28px;
    height: 22px;
    padding-right: 12px;
    box-sizing: content-box;
    & .header-top__basket-count {
        right: 0;
    }
}

.header-top__basket-icon {
    fill: none;
    stroke: #BDBDBD;
}

.header-top__basket-icon--compare {
    width: 26px;
    height: 22px;
}

.header-top__basket-icon--favorite {
    width: 24px;
    height: 22px;
}

.header-top__basket-icon--buy {
    width: 28px;
    height: 22px;
}

.header-top__basket-count {
    @include flex-center;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    background-color: #BDBDBD;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

.header-top__mobile-menu {
    display: none;
}

.mobile-menu__btn {
    width: 26px;
    height: 18px;
    margin-right: 15px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.mobile-menu__btn-icon {
    width: 26px;
    height: 18px;
    fill: none;
    stroke: #000;
}

@media(max-width:1343px) {
    .header-top__logo-wrap {
        min-width: 126px;
        width: 126px;
        height: 34px;
        margin-right: 50px;
    }

    .header-top__account-log-in-text,
    .header-top__account-text {
        display: none;
    }

    .header-top__account-icon {
        position: relative;
    }

    .header-top__account-content-wrap {
        padding-left: 0;
    }

    .header-top__account-block {
        width: auto;
        margin-top: 12px;
        margin-right: 24px;
    }

    .header-top__search-wrap {
        flex-basis: 100%;
    }
}

@media(max-width:1023px) {
    .header-top__mobile-menu {
        display: block;
    }

    .header-top {
        min-height: 60px;
        padding: 0 15px;
        border-bottom: 1px solid #EDEDED;
    }

    .header-top__city-block,
    .header-top__search-wrap,
    .header-top__phone-block {
        display: none;
    }

    .header-top__logo-wrap {
        width: 133px;
        height: 36px;
        margin-right: auto;
    }
}

@media(max-width:767px) {
    .header-top__account-block,
    .header-top__basket-item--compare,
    .header-top__basket-item--favorite {
        display: none;
    }

    .header-top__logo-wrap {
        margin: auto;
    }
}

/*header_nav*/

.header-nav {
    background-color: $main-color;
}

.header-nav__list {
    display: flex;
    max-width: 1344px;
    margin: 0 auto;
    padding: 0;
    border-left: 1px solid $main-color-hover;
}

.header-nav__item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-height: 60px;
    list-style-type: none;
    border-right: 1px solid $main-color-hover;
}

.header-nav__item-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 40px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    &:hover {
        background-color: $main-color-hover;
    }
}

.header-nav__item-icon-burger {
    width: 26px;
    height: 22px;
    margin-right: 20px;
    fill: none;
    stroke: #fff;
}

.header-nav__item-icon-arrow {
    width: 12px;
    height: 7px;
    margin-left: 20px;
    fill: none;
    stroke: #fff;
}

.header-nav__item--catalog {
    max-width: 229px;
    & .header-nav__item-icon-arrow {
        margin-left: 56px;
    }
    & .header-nav__item-link {
        padding: 0 30px;
    }
}

@media(max-width:1343px){
    .header-nav__item {
        &:nth-last-child(-n+2) {
            display: none;
        }
        
    }
}

@media(max-width:1023px){
    .header-nav {
        display: none;
    }
}